body{
	margin: 0 ;
	padding: 0;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}
*{
	margin: 0;
	padding: 0;
}

#wrapper{
	border:0px solid;
	max-width: 1600px;
	margin: auto;
}
#logo{
	float: left;
	width: 100%;
	height: 70px;
	background:#777bf8;

	}
#logo h1{
	width: 100%;
	text-align: center;
	font-family:Camphor;
	font-weight: solid;
	font-size: 50px;
	color:#000;
	}
#header{
	clear: both;
	margin-top: 400px;
	width: 100%;
	height: 42px;
	background:#292929;

}
#header ul {
	list-style: none;

	}
#header ul li{
	float: left;
	background:#292929;	
}
#header ul li a{
	text-decoration: none;
	text-align: center;
	color: white;
	height: 42px;
	line-height: 42px;
	padding: 0px 40px;
}
#header ul li:hover{
	background: #777bf8;
}
#header ul li.active{
	background:#777bf8;
}
#slider{
	clear: both;
	float: left;
	width: 100%;
}
#slider img{
	width: 100%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
#content{
	border:0px solid;
	clear: both;
	float: left;
	margin-top:20px; 
	width: 100%;
}
#content #leftside{
	float: left;
	width: 70%;
	border: 0px solid;

}
#content #leftside .th{
	width: 45%;
	margin-left: 30px;
	margin-bottom: 30px;		
	float: left;
	min-height: 200px;
	border: 1px solid #ccc;
	border-radius: 10px;
	}
#content #leftside .th:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#content #leftside .th h2{
	background:#777bf8;
	width: 100%;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
#content #leftside .th p{
	word-wrap: break-word;
	padding:5px;
}
#content #rightside{
	width: 25%;
	float: right;
	border: 0px solid #ccc;
	margin-left: 50px;
}
#content #rightside .th h2{
	background:#777bf8;
	width: 100%;
	color: #fff;
	text-align: center;
}
#content #rightside ul li{
	list-style: none;
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	border-bottom:1px  dotted;	
}
#content #rightside ul li a{
	text-decoration: none;
}
#content #rightside ul li a:hover{
	text-decoration: underline;
}
#footer {
	clear: both;
	width: 100%;
	background-color: #333;
	color: #fff;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
