@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root{
    --leftcolor : #19292d;
    --rightcolor: #333646;
    --extracolor :#252734;
    --font-stack: 'loto','ubuntu','Poppins',sans-serif;
    --theme-color: #00d679;
    --all-color:#000;
    --head-color: #007bff;
    --bootstrap-sm: 576px;
    --bootstrap-md: 768px;
    --bootstrap-lg: 992px;
    --bootstrap-xl: 1200px;
} 
*{
    margin: 0;
    padding: 0;
    font-family: var(--font-stack);
    width: 100%;
    scroll-behavior: smooth;
}
.section1{
    margin-top: -20px;
    padding: 20px 0 0 0 ;
    background-color: var(--all-color);
    height: 650px;
}
.navbg{
    background-color: var(--leftcolor);
}
.custom-tog{
    border-color: #00d679;
    /* background-color: #00d679; */ 
}
.menu-btn_burger{
    margin-top: -5px;
    margin-left: -4px;
    width: 14px;
    height: 4px;
    background-color: var(--theme-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;

}
.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position:absolute;
    width: 18px;
    height: 4px;
    background-color: var(--theme-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-btn_burger::after{
    width: 9px;
}
.menu-btn_burger::before{
    transform: translateX(-8px) translateY(-8px);
}
.menu-btn_burger::after{
    transform: translateX(-6px) translateY(8px);
}
.custom-tog.open .menu-btn_burger{
    background: transparent;
    box-shadow: none;
}
.custom-tog.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(-5px,5px);
}
.custom-tog.open .menu-btn_burger::after{
    width: 18px;
    transform: rotate(-45deg) translate(-5px,-5px);
}

.resume{
    /* display: none; */
    font-family: 'Roboto';
    margin-top: 10px;
    margin-left: 100px;
    font-size: 15px;
    color: #fff;
}
.navbar-brand,.navbar-brand:hover{
    color: var(--theme-color);
    margin-left: 20px;
    font-weight: 900;
    font-family: 'Roboto';
    font-size: 40px;
}
.navbar-nav{
    margin-left: 20px;
    font-weight: 900;
    font-family: 'Roboto';
    font-size: 20px;
}
.nav-item{
    padding: 0 20px 0 20px;
}
.nav-item .nav-link{
    color: #fff;
}
.nav-item .nav-link:hover{
    color: var(--theme-color);
}
.active .nav-link{
   color: var(--theme-color)!important;
}
.hello{
    font-family: 'Roboto';
    float: center;
    font-size: 50px;
    margin-top: 120px;
    color: #fff;
    font-weight: 500;
    padding-left: 100px;
}
.name{
    font-size: 60px;
    font-weight: 900;
}
.para{
    font-family: 'Roboto';
    float: center;
    font-size: 18px;
    padding: 20px 0 0 100px;
    color: #fff;
    
}
.section2{
    margin-top: -20px;
    padding: 20px 0 0 0 ;
    /* background-color: var(--extracolor); */
    height: 400px;
}
.skill{
    margin-left: 40px;
    margin-top: -80px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skill:hover{
    cursor: pointer;
    transition: .5s ease-out;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ;
}
.myskill{
    padding-top: 10px;
    text-align: center;
    font-weight: 900;
}
.skill-title{
    padding-top: 20px;
    font-weight: 600;
    
}
.percentage{
    font-weight: 600;
}
.processcolor{
    background-color: #0e153a;
    color: #e2f3f5;
    font-weight: 500;
}
.processcolorred{
    background-color: #3d5af1;
    font-weight: 500;
    color: #f3f3f3;
}
.processcoloryel{
    background-color: #22d1ee;
    font-weight: 500;
    color: #000;
}
.progressblue{
    background-color: #751673;
    font-weight: 500;
    color: #fff;

}

.down-right {
	background-color: #fff;
	width: 100%;
	padding-right: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: inherit;
	z-index: 3;
}

.down-right:hover{
    cursor: pointer;
    transition: .5s ease-out;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ;
}

.middle{
    padding: 50px 0 0 50px;
    color: #fff;
    margin-top: -50px;
    background-color: var(--rightcolor);
    z-index: 1;
}
.experience{
    padding:0 0 0 10px;
    border-left: 6px solid var(--theme-color);
    
}
.education{
    margin-top: 30px;
    padding:0 0 0 10px;
    border-left: 6px solid var(--theme-color);
    
}
.head{
    color:  var(--head-color);
    font-weight: 900;
}

.date{
    font-weight: lighter;
    font-size: 14px;
    
}
.naam{
    font-weight: 900;
}

.footer{
    margin-top: 20px;
    
    background-color: #000;
}
.fa {
    background: rgb(46, 42, 42);
    padding: 1em;
    text-align: center;
    display: inline;
    border-radius: 50%;
}
.down-right .fa:hover{
    background: var(--theme-color);
    padding: 1em;
    text-align: center;
    display: inline;
    border-radius: 50%;
}
.icon{
    font-size: 20px;
    line-height: 65px;
    color: var(--theme-color);
}
.icon:hover{
    color: #fff;
}
.hobby{
    padding-left: 20px;
    margin-bottom: 10px;
}
.hobby-title,.top{
    text-align: center;
    font-weight: 900;
    
}


footer{
    background: #000;
    padding: 50px 0 0 0;
    margin-top: 20px;
  }
  .sci{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sci li{
    width: auto;
    list-style: none;
    margin: 0 20px;
  }
  .sci li a{
    color: #777;
    font-size: 2em;
    transition:0.5s;
  }
  .sci li a:hover{
    color: #fff;
    text-decoration: none;
  }
  .cpryt{
    margin-top: 20px;
    text-align: center;
    color: #777;
  }
  .cpryt a,
  .cpryt a:hover{
    color: #fff;
  
  }
footer .fa{
    background: #000;
    padding: .5em;
    text-align: center;
    display: inline;
    border-radius: 50%;   
}

  
@media screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .section1{
    
        background-color: var(--all-color);
      
    }
    .navbar-brand,.navbar-brand:hover{
        color: var(--theme-color);
        /* margin-left: 20px; */
        font-weight: 900;
        font-family: 'Roboto';
        font-size: 40px;
    }
    .hello{
        font-family: 'Roboto';
        float: center;
        font-size: 30px;
        color: #fff;
        font-weight: 500;
    }
    .name{
        font-size: 40px;
        font-weight: 900;
    }
    .para{
        display: none;
        font-family: 'Roboto';
        float: center;
        font-size: 10px;
        color: #fff;
        
    }

    .section2{
        
        /* margin-left: -20px; */
        width: 100%;
        /* background-color: var(--extracolor); */
        
    }
    .skill{

        /* margin-top: -80px; */
      
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .down-right{
        text-align: center;
        background-color: #fff;
        position: inherit;
	    z-index: 3;
        width: 100%;
        margin-left: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .fa {
        background: rgb(46, 42, 42);
        padding: 1em;
        text-align: center;
        display: inline;
        border-radius: 50%;
    }
    .icon{
        font-size: 20px;
        line-height: 65px;
        color: var(--theme-color);
    }
    .section4{
        padding-top: 20px;
        
        margin-top: 50px;
    }
    .middle{
        margin-left: 25px;
        /* padding: 50px 0 0 50px; */
        color: #fff;
        background-color: var(--rightcolor);
       
    }
    .hobby-title{
        padding-top: 10px;
    }
    .section3{
        float: center;
    }
    button{
        width: auto;
    }
    .navbar-brand{
        width: auto;
    }
    
    .naam{
        font-weight: 900;
    }
    footer .fa{
        padding: .1em;
    }
    
  }

  


