@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@600&display=swap');
.dark-mode{
  --background: #030D1C;
  --extra: #0a192fff;
  --font-color: #8CAFE3;

  --lightest-slate: #ccd6f6;
  --highlight-color: #d1c532;
}
:root{
  --nav-font: 'Fira Code', monospace;
  --main-font: 'Inter', sans-serif;

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
  --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}

body {
  color: var(--font-color)!important;
  margin: 0;
  background-color: var(--background)!important;
  font-family: var(--main-font)!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.highlight{
  color: var(--highlight-color);
}

.font-code{
  font-family: var(--nav-font)!important;
}

.f-md{
  font-size: var(--fz-md);
}
.f-lg{
  font-size: var(--fz-lg);
}
.f-xs{
  font-size: var(--fz-xs);
}

@media screen and (max-width: 767px){ 
  .f-sm{
    font-size: var(--fz-sm);
  }
  
}

@media screen and (max-width: 426px){ 
  .f-xxs{
    font-size: var(--fz-xxs);
  }
  .f-xs{
    font-size: var(--fz-xs);
  }
  
}